    /*  GENERAL */ 

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", cursive, sans-serif;
}

h3 {
    margin: 10px 0 10px 0;
}

.Shrikhand {
    font-family: "Shrikhand";
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.FlexBoxCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacebtw {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}
.padding__lr {
    padding: 0 30px 0;
}

.BackGroundGrey {
    background-color: rgb(246, 246, 246);
}

.main__button {
    border-radius: 35px;
    padding: 20px;
    background: linear-gradient(0deg, #9356DC 33%, #FF79DA 100%);
    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.234);
    color: white;
    font-size: 17px;
    border: 0;
}

.main__button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

    /*  Loader   */
    
.loader {
        position: fixed;
        display: grid;
        place-items: center;
        height: 100vh;
        inset: 0;
        z-index: 1;
        opacity: 0.90;
        background-color: black;
        animation: disappear 100ms forwards;
        animation-delay: 2s;
        
        
        
}
.loader::after {
        content: "";
        height: 70px;
        width: 70px;
        border-top: 2px solid #fff;
        color: white;
        border-radius: 80%;
        /*
        background: linear-gradient(0deg, #9356DC 33%, #FF79DA 100%);
        */
        box-sizing: border-box;
        animation: rotation 500ms linear infinite;
}

@keyframes disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg)}
  } 


    /*  Heart transistion   */
    
.logo__heart {
    position: relative;
}
.logo__heart i {
    font-size: 30px;
    position: absolute;
    right: -5px;
    bottom: 30px;
}

.fas {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg, #9356DC 33%, #FF79DA 100%);
    opacity: 0;
    transition: all 100ms;
}
.fas:hover {
    opacity: 1;
    transform: scale(1.1);
}


    /*  Header  */


.Header__Logo {
    padding-bottom: 20px;
    margin-top: 20px;
   
   
    
}
.Header__Logo img {
    height: 35px;
}

.HautDePage__Ville {
    background-color: rgba(222, 222, 222, 0.916);
    box-shadow:  inset 1px 3px 4px 0px rgb(0 0 0 / 42%);
    width: 100%;
    gap: 3px;
}

.HautDePage__Ville input {
    background-color: transparent;
    color: black;
    border: none;
    padding: 14px 8px 14px 8px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    
}

.HautDePage__Exploration {
    padding: 20px 20px 60px;
    gap: 20px;
    background-color: rgba(243, 243, 243, 0.999);
    flex-direction: column;
    text-align: center;

}

.HautDePage__Exploration p {
    font-weight: lighter;
    
}


    /*  Fonctionnement  */

#fonctionnement {
    padding-top: 40px;
    padding-bottom: 30px;
}


.Fonctionnement__Btn {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.234);
    background-color: #f6f6f6;
}
.Fonctionnement__Btn:hover {
    background-color: #f5edff ;
}

.Fonctionnement__Btn p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 30px;
    font-weight: bold;
}

.Fonctionnement__Btn i {
    padding-left: 20px;
    color: rgb(168, 168, 168);
    font-size: 20px;
}
.Fonctionnement__Btn:hover i {
    color: #9356DC;
}

.RondViolet {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #9356DC;
    padding: 5px;
    position: absolute;
    left: -15px;
    color: white;
}

    /*  Restaurant  */

.restaurants__bloc__together {
    background-color: rgba(243, 243, 243, 0.999);
    padding-top: 30px; 
    padding-bottom: 50px;
}

.postite {
    position: absolute;
    background-color: #99e2d0;
    color: #1b6150;
    padding: 5px 15px 5px 15px;
    top: 15px;
    right: 15px;
    border-radius: 2px;
   
}

.restaurants__bloc__together i {
    bottom: 17px;
}

.restaurants__bloc h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.restaurants__bloc p {
    font-weight: 400;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
}



.bloc__footer {
    padding: 15px 20px 15px 15px;
}
.Bloc {
    position: relative;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 25px;
    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.234);
    background-color: white;
}

.Bloc img {
    border-radius: 15px 15px 0 0;
    height: 13rem;
    width: 100%;
    object-fit: cover;
}

.Bloc:hover {
    transform: scale(1.02);
    box-shadow:  .50rem .50rem .5rem rgba(0, 0, 0, 0.234);
}

    /*  Footer   */

.footer__texte {
    background-color: #353535;
    color: white;
    padding: 20px;
}

.footer__texte img {
    height: 20px;
    
}

.footer__texte ul {
    list-style: none;
    padding-left: 0;
}
.footer__texte li {
    padding-bottom: 10px;
}
.footer__texte i {
    padding: 5px;

}

    /*  Page Accueil    */
    
header i {
    font-size: 25px;
    position: absolute;
    left: 30px;
    top: 25px;
}

.MainPicture {
    width: 100%;
    height: 300px;
    object-position: center;
    position: absolute;
}
.MainPicture img {
    
    width: 100%;
    object-fit: cover;
    height: 100%;
}


    /*  Menu    */

.menu {
    position: relative;
    padding: 30px 20px 0;
    border-radius: 30px 30px 0 0 ;
    background-color: #f6f6f6;
    margin-top: 250px;
}

.menu h2 {
    font-weight: lighter;
}
.menu__bloc p {
    margin-top: 0px;
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.menu__bloc h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
    
}

.menu__bloc:hover h3 {
    width: calc(100% - 80px);
    transition: all 200ms;
}

.menu__bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden; 
    text-overflow: ellipsis;
    height: 80px;
    white-space: nowrap;
    animation: menu 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul li.menu__bloc:first-of-type {
    animation-delay: 0s;
}
ul li.menu__bloc:last-of-type {
    animation-delay: 1s;
}

.bloc__texte {
    padding-left: 18px;
    flex: 1;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bloc__texte__description {
    display: flex;
    justify-content: space-between;
    
}
.prix {
    display: flex;
    padding-right: 20px;
    font-weight: 600 ;
}
.Desserts {
    padding-bottom: 50px;
}



    /*  Chek Box Animation  */

.chek__box {
    position: absolute;
    top: 0;
    right: -80px;
    height: 100%;
    width: 80px;
    border: 1px solid #99e2d0;
    background-color:#99e2d0;
    
}
.chek__box i {
    height: 100% ;
    font-size: 25px;
    color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__bloc:hover {
    transform: scale(1.02);
    
}
.menu__bloc:hover .chek__box {
    right: 0;
    transition: all 200ms;
    
}
.menu__bloc:hover .chek__box i {
    animation: rotation 500ms ;
}
.menu__bloc:hover .prix {
    
    transition: all 200ms;
    padding-right: calc(5% + 80px);
}




.button__menu button {
    margin-bottom: 100px;
    padding: 20px 60px 20px 60px;
}
.button__menu {
    background-color: #f6f6f6f6;
}
.menu h2:after {
    content: "";
    width: 50px;
    height: 5px;
    background-color: #99e2d0;
    display: block;
    margin-top: 10px;
}

    /*  Menu Appear    */

@keyframes menu {
    0% {
        margin-top: 20px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

@media  screen and (min-width: 768px) {
    #HautDePage i {
        font-size: 25px;
        padding-bottom: 5px;
    }
    .HautDePage__Ville input {
        font-size: 25px;
    }
    .HautDePage__Exploration h1 {
        font-size: 35px;
    }
    .HautDePage__Exploration p {
        font-size: 20px;
    }
    .main__button {
        padding: 25px 50px 25px 50px;
        font-size: 20px;
    }
    .Fonctionnement__Btn i {
        padding-right: 15px;
    }
    #fonctionnement ul {
        display: flex;
        gap: 20px;
    }
    ul li  {
        flex: 1;   
    }
    .menu  ul {
        display: flex;
        gap: 20px;
    }
    .logo__heart i {
        right: 20px;
    }

    .content {
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;
        gap: 30px;
    }
    .content a {
        flex: 1 1 40%;
    }
    
}

@media  screen and (min-width: 1280px) {
    .content a {
        flex-basis: 20%;
    }
}